@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

  html, body {
    font-family: 'Ubuntu', sans-serif!important;
    margin: 0;
    padding: 0;
  }

  .navbar a {
    @apply no-underline text-gray-500;
  }
  
  .dark body{
    background-color: #08041d;

    h1,h2,h3,h4,h5,h6,p{
      color: white;
    }
  }